[submodule "externals/cryptopp-cmake"]
	path = externals/cryptopp-cmake
	url = https://github.com/shadps4-emu/ext-cryptopp-cmake.git
	shallow = true
[submodule "externals/cryptopp"]
	path = externals/cryptopp
	url = https://github.com/shadps4-emu/ext-cryptopp.git
	shallow = true
[submodule "externals/cryptoppwin"]
	path = externals/cryptoppwin
	url = https://github.com/shadps4-emu/ext-cryptoppwin.git
	shallow = true