[submodule "externals/sdl3"]
	path = externals/sdl3
	url = https://github.com/shadps4-emu/ext-SDL.git
	shallow = true
[submodule "externals/fmt"]
	path = externals/fmt
	url = https://github.com/shadps4-emu/ext-fmt.git
	shallow = true
[submodule "externals/toml11"]
	path = externals/toml11
	url = https://github.com/ToruNiina/toml11.git
	shallow = true
[submodule "externals/pugixml"]
	path = externals/pugixml
	url = https://github.com/zeux/pugixml.git
	shallow = true
[submodule "externals/date"]
	path = externals/date
	url = https://github.com/HowardHinnant/date.git
	shallow = true
[submodule "externals/microz"]
	path = externals/microz
	url = https://github.com/artemvlas/qmicroz
	shallow = true
